/* Estilos padrão */
.bg-red {
    background-color: #930000;
}

/* Remover outline e box-shadow ao focar ou ativar links */
a:focus,
a:active {
    outline: none;
    box-shadow: none;
}

/* Remove o contorno azul padrão dos inputs, selects, textareas e botões */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important; /* Remove qualquer efeito de sombra */
    border-color: inherit !important; /* Mantém a borda normal sem mudanças */
}

* {
    font-family: "Montserrat", sans-serif;
}

.social-media a {
    text-decoration: none !important;
}



/* Modo Claro */
body {
    background-color: #ffffff;
    color: #000000;
}

/* Modo Escuro */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

/* .card,
.card-shadow-sm {
    background-color: #333;
    color: #e0e0e0;
} */

/* .card .card-title,
.card .card-text {
    color: #e0e0e0;
}

.btn-outline-light {
    color: #e0e0e0;
    border-color: #e0e0e0;
}

.btn-outline-light:hover {
    background-color: #444;
    border-color: #e0e0e0;
} */
