.bg-red {
    background-color: #930000;
}

/* Remover outline e box-shadow ao focar ou ativar links */
a:focus, a:active {
    outline: none;
    box-shadow: none;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.social-media a {
    text-decoration: none !important;
}
